{% extends 'base.html' %}

{% block title %}
  About Me
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home'%}">Hear Clear</a></li>
  <li class="breadcrumb-item active">About Me</li>
{% endblock %}

{% block content %}
   <h1>About Hear Clear</h1>
   <p>
     Hear Clear is a system that use to analyse any sound or music given by user.
   </p>

   <p>
     There are two ways to send the sound :
   </p>

   <ul>
     <li> Record the sound at that moment. </li>
     <li> Upload the sound file from the device. </li>
   </ul>

   <p> 
     Then, user need to click on 'submit' button to starts send the sound to the server to do the analysing process. The output of analyzed will be including:
   </p>

   <ul>
     <li> Length of Sound. </li>
     <li> File Type. </li>
     <li> File Size. </li>
     <li> Maximum Detected Frequency. </li>
   </ul>
{% endblock %}