{% extends 'base.html' %}


    {% block breadcrumb %}
          <li class="breadcrumb-item active">Hear Clear</li>
    {% endblock %}

    {% block content %}
    <div class="mb-4">
        <a href="/HearClear/upload" class="btn btn-outline-primary">Upload</a>
        <a href="/HearClear/aboutme" class="btn btn-outline-primary">About Me</a>
        <a href="/HearClear/comments" class="btn btn-outline-primary">Comments</a>
        {% if user.is_authenticated %}
        {# <a href="{% url 'secret' %}" class="btn btn-outline-primary">Secret page</a>#}
        <a href="{% url 'password_change' %}" class="btn btn-outline-primary">Change password</a> 
        <a href="{% url 'logout' %}" class="btn btn-outline-primary">Log Out</a>
        <strong> You're log in as {{ user.username }}</strong>
        {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline-primary">Log In</a>
        <a href="{% url 'signup' %}" class="btn btn-outline-primary">Sign Up</a>
        {% endif %}
    </div>

    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th> Title </th>
                <th> File </th>
                <th> Size </th>
            <tr>
        <thead>
        
        <tbody>
            {% for songfile in songs %}
                <tr>
                    <td> {{ songfile.title }} </td>
                    <td> {{ songfile.filetype }}</td>
                    <td> {{ songfile.ext }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}