{% extends 'base.html' %}


    {% block breadcrumb %}
          <li class="breadcrumb-item active">Hear Clear</li>
    {% endblock %}

    {% block content %}
    <div class="mb-4">
        <a href="/HearClear/upload" class="btn btn-outline-primary">Upload</a>
        <a href="/HearClear/aboutme" class="btn btn-outline-primary">About Me</a>
        <a href="/HearClear/comments" class="btn btn-outline-primary">Comments</a>
    </div>

    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th> Title </th>
                <th> File </th>
            <tr>
        <thead>
        
        <tbody>
            {% for songfile in songs %}
                <tr>
                    <td> {{ songfile.title }} </td>
                    <td> {{ songfile.filetype }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}