{% extends 'base.html' %}

{% block title %}
    {{ songfile.title }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home'%}">Hear Clear</a></li>
  <li class="breadcrumb-item active">{{ songfile.title }}</li>
{% endblock %}

{% block content %}
    <h2>{{songfile.title}}</h2>
    <link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet'>

    <img src="{{ songfile.image.url }}" width="400" height="379">

    <div class="container-audio">
        <audio controls  loop autoplay>
                   <source src="{{ songfile.audio.url }}" type="audio/wav">
                   Your browser dose not Support the audio Tag
        
        </audio>
        <table class="table">
            <thead class="thead-inverse">
            <tr>
            <td> {{ songfile.duration }}</td>
            </tr>
        </table>
         
{% endblock %}
            
{% block content %}

<div class="container">
    <title> Upload </title>
    <h1><i>Upload your rainsound</i></h1>
</br></br>

      
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
      <!-- setting filename, username, location as input -->
      <form action = "/upload" enctype="multipart/form-data" method = "post">
         <div class="form-group">
            <label for="inputFile"></label>
            <input type = "file" name = "inputFile" id = "inputFile" class="btn btn-primary"/><br>
            <input type = "text" class = "form-control" 
            placeholder = "Insert filename here (Eg: rainsound.mp3)" name = "filename"  /><br>
         </div>
         <div class="form-group">
             <label for="username">Username:</label><br>
            <input type = "text" class = "form-control" 
            placeholder = "Insert your username here" name = "username"  /><br>
         </div>
         <div class="form-group">
            <label for="location">Location of the rainsound recorded:</label><br>
            <input type = "text" class = "form-control" 
            placeholder = "Eg: Selangor, Malaysia" name = "location"  /><br>
         </div>
         <br>
         <input type = "submit" value = "Upload" class="btn btn-primary" />
      </form>

      <br></br>

</div>

{% endblock %}

<!DOCTYPE html>
<html>
<head>
<style>

table {
  width:100%;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
table, th, td {
  padding: 15px;
  text-align: left;
}
table, td {
  padding: 15px;
  text-align: middle;
}
#t01 tr:nth-child(even) {
  background-color:#800080;
  color:white;
}
#t01 tr:nth-child(odd) {
 background-color:#D8BFD8;
 color:black;
}
</style>
</head>
<body>

<h1 style="text-align:middle"> Audio File Report </h1>

<table id="t01">
  <tr>
    <th>User Name</th>
    <td>Nabil</td>
  </tr>
  <tr>
    <th>Location</th>
    <td>Kota Bharu, Kelantan</td>
  </tr>
  <tr>
    <th>Length (seconds)</th>
    <td>20</td> 
  </tr>
  <tr>
    <th>File Size (kB)</th>
    <td>2589</td>
  </tr>
  <tr>
    <th>File Type</th>
    <td>mp3</td>
  </tr>
  <tr>
    <th>Sampling Frequency (Hz)</th>
    <td>35421</td>
  </tr>

</table>

</body>
</html>
