{% extends 'base.html' %}

{% block title %}
    {{ songfile.title }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home'%}">Hear Clear</a></li>
  <li class="breadcrumb-item active">{{ songfile.title }}</li>
{% endblock %}

{% block content %}
    <h2>{{songfile.title}}</h2>
    <link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet'>

    <img src="{{ songfile.image.url }}" width="400" height="379">

    <div class="container-audio">
        <audio controls  loop autoplay>
                   <source src="{{ songfile.audio.url }}" type="audio/wav">
                   Your browser dose not Support the audio Tag
               </audio>

    
{% endblock %}