{% extends 'base.html' %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home'%}">Hear Clear</a></li>
  <li class="breadcrumb-item active">{{ songfile.title }}</li>
{% endblock %}

{% block content %}
    <h2>{{object.title}}</h2>
    <link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet'>

    <img src="{{ songfile.image.url }}" width="400" height="379">

    <div class="container-audio">
        <audio controls  loop autoplay>
                   <source src="{{ object.filetype.url }}" type="audio/wav">
                   Your browser dose not Support the audio Tag
               </audio>

        <thead class="thead-inverse">
            <tr>
                <th> Title </th>
                {#<th> File </th>#}
                <th> Size </th>
                <th> Date </th>
                <tr>
        <thead>
    
{% endblock %}